@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, #app {
  height: 100vh;
  margin: 0;
  background-color: #121212;
}

#app {
  display: flex;
  flex-direction: column;
}

* {
  color: white;
  font-family: 'IBM Plex Sans';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 5px;
}

#branding {
  display: flex;
  align-items: center;
}

#branding img {
  width: 40px;
  height: 40px;
  background-color: magenta;
}

#branding p {
  margin-left: 10px;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;
}

#main {
  display: flex;
}

#map {
  height: 500px;
  margin-right: 5px;
  flex: 1;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #aaaaaa;
  overflow: hidden;
}

#calls {
  width: 400px;
  height: 500px;
  margin-left: 5px;
  background-color: magenta;
}

#info {
  margin-top: 10px;
  height: 100%;
  background-color: magenta;
}
